{% extends 'base.html' %}


{% block content %}

<div class="container m-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3 mb-3">
            <a href="{{url_for('main.pitch')}}" class="btn btn-success">Post Pitch</a>
        </div>
    </div>
    <div class="row">

        {% for pitch in pitches %}
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{pitch.title}}</h5>
                    <p class="card-text">{{pitch.pitch}}</p>
                    <a href="{{url_for('main.single_pitch', pitch_id=pitch.id)}}" class="btn btn-primary">View Pitch</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-lg-3">
            <div class="card-body">
                <h5 class="card-title">{{data.author}}</h5>
                <p class="card-text">{{data.quote}}</p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}